{% extends 'core/base.html' %}

{% block title%}Actualizar correo{% endblock%}

{% block extrastyles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/forms.css' %}">
{% endblock extrastyles %}

{% block content %}
<div class="form_container">
    <h2 class="form_title">Actualizar correo</h2>

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="field_container">

            {{ field.label_tag }} {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        {% if form.non_field_errors %}
        {{ form.non_field_errors }}
        {% endif %}
        <div class="controls">
            <button class="button_form" type="submit">Cambiar correo</button>
            <a href="{% url 'core:details_user' %}" class="exercises-link">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}